{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <style>
  .card {
    width: 150%;
  }
  .card .card-footer {
    padding: 0;
  }
  .table {
    width: 150%;
  }
  .card label {
    margin: 0 10px 15px 20px;
  }
  .questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .modify-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
   .modify-header i{
    font-size: 20px;
   }
   .modify-header i:hover{
    cursor: pointer;

   }
   #modify-form{
    display: none;
   }

  </style>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Add Review</h5>
          </div>
          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="coctail">Choose a coctail:</label>
                    <select id="coctail" name="coctail">
                      {% for coctail in coctails %}
                        <option value="{{coctail[0]}}">{{coctail[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="questionnaire">Choose a Questionnaire:</label>
                    <select id="questionnaire" name="questionnaire">
                      <option disabled selected value> -- select an option -- </option>
                      {% for questionnaire in questionnaires %}
                        <option value="{{questionnaire[0]}}">{{questionnaire[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pr-md-1 questionnaires"></div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Add Review</button>
              </div>
            </form>
          </div>
        </div>

        
        <div id="modify-form" class="card">
          <div class="card-header modify-header">
            <h5 class="title">Modify Review</h5>
            <i class="tim-icons icon-simple-remove hide-modify-form"></i>
          </div>
          <div class="card-body">
            <form id="modform" method="post">
              <div class="row">
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="coctail">Choose a coctail:</label>
                    <select id="coctail_modify" name="coctail">
                      {% for coctail in coctails %}
                        <option value="{{coctail[0]}}">{{coctail[0]}}</option>
                      {% endfor %}
                    </select>
                    <input id="input-id" style="display: none;" name="id" type="text" class="form-control" placeholder="id">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="questionnaire">Choose a Questionnaire:</label>
                    <select id="questionnaire_modify" name="questionnaire">
                      <option disabled selected value> -- select an option -- </option>
                      {% for questionnaire in questionnaires %}
                        <option value="{{questionnaire[0]}}">{{questionnaire[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-6 pr-md-1 questionnaires">
                  <div class="form-group">
                    <label for="question_text">When writing a review, pay attention to the following questions from the questionnaire you have chosen: </label>
                    <div class="questions-modify">
                    </div>
                    <div class="form-group">
                      <label for="question_text">Review: </label>
                      <textarea id="question_text_modify" name="question_text" rows="4" cols="80" class="form-control" placeholder="Enter the Question"></textarea>
                      <label for="ocena">Ocena</label>
                      <input id="ocena_modify" name="ocena" type="number" class="form-control" placeholder="Grade" min="1" max="5">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="prevent btn btn-fill btn-primary"  onclick="modifyReview()">Modify Review</button>
              </div>
            </form>
          </div>
        </div>
        </div>
        
        <table class="table">
          <tr>
            <th>Coctail Name</th>
            <th>Review</th>
            <th>Ocena</th>
            <th></th>
            <th></th>
          </tr>
    
          <!-- here is a for-loop to give us all the socks -->
          {% for review in reviews %}
          <tr>
            <td>{{review[1]}}</td>
            <td>{{review[0]}}</td>
            <td>{{review[2]}}</td>
            <td><button class="btn btn-primary" onclick="deleteReview('{{review[0]}}')">Delete</button></td>
            <td><button class="modify-button btn btn-primary" onclick="getReviewData('{{review[3]}}')">Modify</button></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  
<script>
  function deleteReview(name) {
    if( confirm("Are you sure to delete this review?") ) { 
      $.ajax({
        url: '/delete-review',
        type: 'DELETE',
        data: {name: name},
        
        success: function(result) {
          alert("Review has been successfully deleted!");
          window.location.reload(true);
        },
        error: function(error) {
          // Handle error
        }
      }); 
      return false;
    }
  }

  function getReviewData(id) {
        id = decodeURIComponent(id);

        $.ajax({
            url: '/get-review-data',
            type: "GET",
            data: {id: id},
            success: function(data) {
                console.log(data);
                $("#coctail_modify").val(data.coctail);
                $("#question_text_modify").val(data.review.trim());
                $("#ocena_modify").val(data.grade);
                $("#input-id").val(data.id)
                $("#modify-form").show();

                const questionsModify = document.querySelector('.questions-modify');
                const questionnaireModify = document.querySelector('#questionnaire_modify');
                console.log(questionsModify);
                console.log(questionnaireModify);

                questionnaireModify.addEventListener("change", (e) => {
                  console.log(questionnaireModify.value);
                  $.ajax({
                  url: '/get-questionnaire-data',
                  type: "GET",
                  data: {name: questionnaireModify.value},
                  success: function(data) {
                    console.log(data.questions);
                    questionsModify.innerHTML = ``;
                    for(let i=0; i < data.questions.length; i++){
                      questionsModify.innerHTML += `
                        <li><label for="question_name">${data.questions[i][1]}</label></li>
                      `
                    }
                  },
                  error: function(error) {
                      console.log(error);
                  }
                  });
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
  }

  function getQuestionnaires(name) {
    $.ajax({
        url: '/get-questionnaire-data',
        type: "GET",
        data: {name: name},
        success: function(data) {
          console.log(data.questions);
          for(let i=0; i < data.questions.length; i++){
            document.querySelector('.questions').innerHTML += `
              <li><label for="question_name">${data.questions[i][1]}</label></li>
            `
          }
        },
        error: function(error) {
            console.log(error);
      }
    });
  }

  function modifyReview() {
    if( confirm("Are you sure to modify this review?") ) { 
      let form = document.getElementById("modform");
      let formData = new FormData(form);

      const coctail = formData.get('coctail');
      const questionnaire = formData.get('questionnaire');
      const question_text = formData.get('question_text');
      const ocena = formData.get('ocena');
      const id = formData.get('id');

      $.ajax({
        url: '/modify-review',
        type: 'PUT',
        data: {coctail, questionnaire, question_text, ocena, id},
        success: function(result) {
          alert("Review has been successfully modified!");
          window.location.reload(true)
        },
        error: function(error) {
          // Handle error
        }
      });
    }
  }

  const questionnaire = document.querySelector("#questionnaire");
  
  function createReviewForm(){
    document.querySelector(".questionnaires").innerHTML = `
    <div class="form-group">
      <label for="question_text">When writing a review, pay attention to the following questions from the questionnaire you have chosen: </label>
      <div class=questions>
      </div>
      <div class="form-group">
        <label for="question_text">Review: </label>
        <textarea name="question_text" rows="4" cols="80" class="form-control" placeholder="Enter the Question"></textarea>
        <label for="ocena">Ocena</label>
        <input name="ocena" type="number" class="form-control" placeholder="Grade" min="1" max="5">
    </div>
  `;
  }

  

  questionnaire.addEventListener("change", (e) => {
    createReviewForm();
    console.log(questionnaire.value);
    getQuestionnaires(questionnaire.value)
  });

  document.querySelector(".prevent").addEventListener("click", (e)=>{
    e.preventDefault();
  });

  document.querySelector(".hide-modify-form").addEventListener("click", ()=>{
    $("#modify-form").hide();
  })
</script>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
