{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <style>
    .card {
      width: 150%;
    }
    .card .card-footer{
      
      padding: 0;
    }
   .table{
    width: 150%;
   }
  </style>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Add Barman</h5>
          </div>
          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="surname">Surname</label>
                    <input name="surname" type="text" class="form-control" placeholder="Surname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" placeholder="Phone Number">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="adres">Adres</label>
                    <input name="adres" type="text" class="form-control" placeholder="Adres">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Add Barman</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone Number</th>
            <th>Adres</th>
            <th></th>
            <th></th>
          </tr>
    
          <!-- here is a for-loop to give us all the socks -->
          {% for user in barmans %}
          <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td><button class="btn btn-primary" onclick="deleteBarman('{{user[0]}}')">Delete</button></td>
            <td><button class="btn btn-primary" onclick="demo.showNotification('top','center')">Modify</button></td>
            <!-- <td><button>Delete</button></td> -->
            <!-- <td><button>Modify</button></td> -->
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  
<script>
  function deleteBarman(name) {
    $.ajax({
      url: '/delete-barman',
      type: 'DELETE',
      data: {name: name},
      
      success: function(result) {
        window.location.reload(true);
        console.log(data)
      },
      error: function(error) {
        // Handle error
      }
    }); 
    return false;
  }

  function modifyUser(id) {
    $.ajax({
      url: '/modify-user',
      type: 'PUT',
      data: {id: id},
      success: function(result) {
        // Handle successful modification
      },
      error: function(error) {
        // Handle error
      }
    });
  }
</script>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
