{% extends "layouts/base.html" %} {% block title %} User Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .card {
    width: 150%;
  }
  .card .card-footer {
    padding: 0;
  }
  .table {
    width: 150%;
  }
  .modify-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .modify-header i {
    font-size: 20px;
  }
  .modify-header i:hover {
    cursor: pointer;
  }
  #modify-form {
    display: none;
  }
</style>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div id="add-barman" class="card">
        <div class="card-header">
          <h5 class="title">Add Barman</h5>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    pattern="[a-zA-Z\s]{2,50}"
                    title="Letters only"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input
                    name="surname"
                    type="text"
                    class="form-control"
                    placeholder="Surname"
                    pattern="[a-zA-Z\s]{2,50}"
                    title="Letters only"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input
                    name="phone"
                    type="text"
                    class="form-control"
                    placeholder="Phone Number"
                    pattern="[0-9]{9}"
                    title="9 digits for example 312421321"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="adres">Adres</label>
                  <input
                    name="adres"
                    type="text"
                    class="form-control"
                    placeholder="Adres"
                    pattern="[a-zA-Z0-9\s_-]{4,50}"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-fill btn-primary">
                Add Barman
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="modify-form" class="card">
        <div class="card-header modify-header">
          <h5 class="title">Modify Barman</h5>
          <i class="tim-icons icon-simple-remove hide-modify-form"></i>
        </div>
        <div class="card-body">
          <form id="modform" method="post">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    id="input-name"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    pattern="[a-zA-Z\s]{2,50}"
                    title="Letters only"
                    required
                  />
                  <input
                    id="input-id"
                    style="display: none"
                    name="id"
                    type="text"
                    class="form-control"
                    placeholder="id"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="surname">Surname</label>
                  <input
                    id="input-surname"
                    name="surname"
                    type="text"
                    class="form-control"
                    placeholder="Surname"
                    pattern="[a-zA-Z\s]{2,50}"
                    title="Letters only"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input
                    id="input-phone"
                    name="phone"
                    type="text"
                    class="form-control"
                    placeholder="Phone Number"
                    pattern="[0-9]{9}"
                    title="9 digits for example 312421321"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="adres">Adres</label>
                  <input
                    id="input-address"
                    name="adres"
                    type="text"
                    class="form-control"
                    placeholder="Adres"
                    placeholder="Adres"
                    pattern="[a-zA-Z0-9\s_-]{4,50}"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <!-- <button class="prevent btn btn-primary" onclick="modifyUser($('#input-id').val())">Modify</button> -->

              <button class="prevent btn btn-primary" onclick="modifyUser()">
                Modify
              </button>
            </div>
          </form>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone Number</th>
          <th>Adres</th>
          <th></th>
          <th></th>
        </tr>

        <!-- here is a for-loop to give us all the socks -->
        {% for user in barmans %}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
          <td>
            <button
              class="btn btn-primary"
              onclick="deleteBarman('{{user[4]}}')"
            >
              Delete
            </button>
          </td>
          <td>
            <button
              class="modify-button btn btn-primary"
              onclick="getBarmanData('{{user[4]}}')"
            >
              Modify
            </button>
          </td>
          <!-- <td><button class="btn btn-primary" onclick="demo.showNotification('top','center')">Modify</button></td> -->
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<script>
  function deleteBarman(id) {
    if (confirm("Are you sure to delete this barman?")) {
      $.ajax({
        url: "/delete-barman",
        type: "DELETE",
        data: { id: id },

        success: function (result) {
          alert("Barman has been successfully deleted!");
          showNotificationDelete("top", "center");
          window.location.reload(true);
        },
        error: function (error) {
          // Handle error
        },
      });
      return false;
    }
  }

  function getBarmanData(id) {
    id = decodeURIComponent(id);

    $.ajax({
      url: "/get-barman-data",
      type: "GET",
      data: { id: id },
      success: function (data) {
        $("#input-name").val(data.name);
        $("#input-surname").val(data.surname);
        $("#input-phone").val(data.phone);
        $("#input-address").val(data.address);
        $("#input-id").val(data.id);
        $("#modify-form").show();
      },
      error: function (error) {
        // handle error response here
        console.log(error);
      },
    });
  }

  function modifyUser() {
    if (confirm("Are you sure to modify this barman?")) {
      let form = document.getElementById("modform");
      let formData = new FormData(form);
      const name = formData.get("name");
      const surname = formData.get("surname");
      const phone = formData.get("phone");
      const adress = formData.get("adres");
      const id = formData.get("id");

      $.ajax({
        type: "PUT",
        url: "/modify-barman",
        data: {
          name: name,
          surname: surname,
          phone: phone,
          adress: adress,
          id: id,
        },
        success: function (data) {
          // handle success response here
          alert("Barman has been successfully modified!");
          window.location.reload(true);
        },

        error: function (error) {
          // handle error response here
          console.log(error);
        },
      });
    }
  }

  document.querySelector(".prevent").addEventListener("click", (e) => {
    e.preventDefault();
  });
  document.querySelector(".hide-modify-form").addEventListener("click", () => {
    $("#modify-form").hide();
  });

  function showNotificationDelete(from, align) {
    color = Math.floor(2);

    $.notify(
      {
        icon: "tim-icons icon-bell-55",
        message: "The record has been <b>Deleted successefuly</b>",
      },
      {
        type: type[color],
        timer: 8000,
        placement: {
          from: from,
          align: align,
        },
      }
    );
  }
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
