{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <style>
        
        .card{
            align-items: center;
            justify-content: center ;
        }
       
        .coctail-image {
            width: 15vh;
            height: 15vh;
            /* align-items: center; */
            /* justify-content: center ;  */
        }
        .card-body{
            display: flex;
            /* justify-content: center ; */
            /* align-items: flex-start; */
            /* flex: 2 1 200px; */
            flex-direction: column;
            align-items: center;
        }
        .card-grades{
            margin-top: 10px;
        }

        .review-container{
            /* border: 2px solid #ccc; */
            background-color: #27294F;
            border-radius: 5px;
            padding: 16px;
            margin: 16px 0;
            width: 500px;
            clear: left;
        }
        .card{
            height: 100%;
            /* margin-bottom: 1%; */
            /* margin-top: 2%; */
        }
        .row{
            height: 100%;
        }
        .col-lg-4{
            margin-bottom: 2%;
        }
    </style>

    <div class="content">
        <div class="row">
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h3 class="card-title"><i class="text-primary"></i>{{coctail[0]}}</h3>
                        </div>
                        <div class="card-body">
                                <img class="coctail-image"src="{{coctail[1]}}" alt="...">
                            <div class="card-grades">
                                <h5 class="card-category">User grade: {{koktails[2]}}</h5>
                                <h5 class="card-category">Sommelier Grade: {{koktails[3]}}</h5>
                                <h5 class="card-category">Avarage Grade: {{coctail[4]}}</h5>
                            </div>
                        </div>         
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h3 class="card-title"><i class="text-primary"></i>Recipe:</h3>
                        </div>
                        <div class="card-body">
                            Number of products: {{recipe[1]}} <br>
                            Category: {{category[0][0]}} <br>
                            Level of difficulty: {{recipe[3]}} <br>
                            Preparation: {{recipe[2]}} <br>
                            <div class="card-grades">
                                <!-- <h5 class="card-category">User grade: {{coctail[2]}}</h5>
                                <h5 class="card-category">Sommelier Grade: {{coctail[3]}}</h5> -->
                            </div>
                        </div>         
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h3 class="card-title"><i class="text-primary"></i>Ingredients:</h3>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                  <th>Ingredient</th>
                                  <th>Measure</th>
                                </tr>
                        
                                <!-- here is a for-loop to give us all the socks -->
                                {% for ingredient in ingredients %}
                        
                                <tr>
                                  <td>{{ ingredient[0] }}</td>
                                  <td>{{ ingredient[2] }}</td>
                                </tr>
                                {% endfor %}
                              </table>
                            <div class="card-grades">
                                <!-- <h5 class="card-category">User grade: {{coctail[2]}}</h5>
                                <h5 class="card-category">Sommelier Grade: {{coctail[3]}}</h5> -->
                            </div>
                        </div>         
                    </div>
                </div>
                
            </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="text-primary"></i>Sommelier :</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                              <th>Sommelier</th>
                              <th>Review</th>
                              <th>Grade</th>
                            </tr>
                            {% for sommelier in sommeliers %}
                    
                            <tr>
                              <td>{{ sommelier[1] }}</td>
                              <td>{{ sommelier[2] }}</td>
                              <td>{{ sommelier[3] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% if sommeliers|length == 0 %}
                        <i class="text-primary"></i>There are no reviews from sommeliers yet...</h3>
                        {% endif %}
                    </div>         
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h3 class="card-title"><i class="text-primary"></i>Reviews :</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                              <!-- <th>Name</th> -->
                              <th>Review</th>
                              <th>Grade</th>
                            </tr>
                            {% for review in reviews %}
                    
                            <tr>
                              <!-- <td>Anonim</td> -->
                              <td>{{ review[0] }}</td>
                              <td>{{ review[2] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% if reviews|length == 0 %}
                        <i class="text-primary"></i>There are no reviews from sommeliers yet...</h3>
                        {% endif %}
                    </div>         
                </div>
            </div>           
            </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

{% endblock javascripts %}
