{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <style>
    .card {
      width: 150%;
    }
    .card .card-footer{
      
      padding: 0;
    }
   .table{
    width: 150%;
   }
  </style>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Add Coctail</h5>
          </div>
          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" placeholder="Username">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="text" class="form-control" placeholder="Password">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="github">Oauth_github</label>
                    <input name="github" type="text" class="form-control" placeholder="Oauth_github">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Add User</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Oauth_github</th>
            <th></th>
            <th></th>
          </tr>
          
          
         
          <!-- here is a for-loop to give us all the socks -->
          {% for user in users %}
               
          <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td><button class="btn btn-primary" onclick="deleteUser('{{user[0]}}')">Delete</button></td>
            <td><button class="btn btn-primary" onclick="demo.showNotification('top','center')">Modify</button></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-4">
        <div class="card card-user">
          <div class="card-body">
            <p class="card-text">
              <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <a href="javascript:void(0)">
                  <img class="avatar" src="{{ config.ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
                  <h5 class="title">Mike Andrew</h5>
                </a>
                <p class="description">
                  Ceo/Co-Founder
                </p>
              </div>
            </p>
            <div class="card-description">
              Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </div>
          </div>
          <div class="card-footer">
            <div class="button-container">
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                <i class="fab fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function deleteUser(name) {
      $.ajax({
        url: '/delete-user',
        type: 'DELETE',
        data: {name: name},
        
        success: function(result) {
          window.location.reload(true);
          console.log(data)
        },
        error: function(error) {
          // Handle error
        }
      }); 
      return false;
    }
  
    function modifyUser(id) {
      $.ajax({
        url: '/modify-user',
        type: 'PUT',
        data: {id: id},
        success: function(result) {
          // Handle successful modification
        },
        error: function(error) {
          // Handle error
        }
      });
    }
  </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
