{% extends "layouts/base.html" %} {% block title %} User Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .card {
    width: 150%;
  }
  .card .card-footer {
    padding: 0;
  }
  .table {
    width: 150%;
  }

  .card label {
    margin: 0 10px 0 20px;
  }

  .message {
    margin: 0 0 0 10px;
  }
  .card form label + .form-control {
    margin-bottom: 5px;
  }
</style>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add Coctail</h5>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="nazwa">Coctail Name</label>
                  <input
                    id="coctail_name"
                    type="text"
                    pattern="[a-zA-Z0-9\s_-]{4,50}"
                    name="nazwa"
                    class="form-control"
                    placeholder="Coctail"
                    title="4 to 50 characters, letters and numbers only"
                    required
                  />
                  <div class="message"></div>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="obraz">Link to image</label>
                  <input
                    name="obraz"
                    type="text"
                    class="form-control"
                    placeholder="Image"
                    title="links only"
                    pattern="https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="coctail">Choose a category:</label>
                  <select id="coctail" name="coctail">
                    <option value="Alcoholic">Alcoholic</option>
                    <option value="Non Alcoholic">Non Alcoholic</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="notatka">Note</label>
                  <textarea
                    name="notatka"
                    rows="4"
                    cols="80"
                    class="form-control"
                    placeholder="Here can be your Note"
                    required
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label for="count">Count of Ingredients</label>
                  <input
                    name="count"
                    type="number"
                    class="count"
                    placeholder="Count"
                    min="0"
                    max="15"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6 pr-md-1 ingredients"></div>
            </div>

            <div class="card-footer card-add">
              <button
                type="submit"
                class="add-coctail-btn btn btn-fill btn-primary"
              >
                Add Coctail
              </button>
            </div>
          </form>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Coctail Name</th>
          <th>Image</th>
          <th>Average User Grade</th>
          <th>Average Sommelier Grade</th>
          <th></th>
          <th></th>
        </tr>

        <!-- here is a for-loop to give us all the socks -->
        {% for user in users %}

        <tr>
          <td>{{ user[0] }}</td>
          <td>
            <img
              src="{{ user[1] }}"
              alt="Image Coctail"
              width="100"
              height="120"
            />
          </td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
          <td>
            <button class="btn btn-primary" onclick="deleteUser('{{user[0]}}')">
              Delete
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              onclick="modifyUser()"
            >
              Modify
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<script>
  function checkPK(id) {
    const input = document.querySelector(`#${id}`);

    input.addEventListener("input", (e) => {
      $.ajax({
        url: "/get_coctail_data",
        type: "GET",
        data: { name: e.target.value },

        success: function (result) {
          const message = document.querySelector(".message");
          const btn = document.querySelector(".add-coctail-btn");
          const btn_form = document.querySelector(".card-add");

          if (result != null) {
            console.log("Already exist");
            message.style.color = "red";
            message.innerHTML = "Coctail name is NOT available";

            btn.addEventListener("click", (e) => {
              e.preventDefault();
            });
          } else {
            console.log("This name is available");
            message.style.color = "green";
            message.innerHTML = "Coctail name is available";
            btn_form.innerHTML = `
            <button type="submit" class="add-coctail-btn btn btn-fill btn-primary">
                Add Coctail
              </button>
            `;
          }
        },
        error: function (error) {
          // Handle error
        },
      });
      return false;
    });
  }

  checkPK("coctail_name");

  function deleteUser(name) {
    if( confirm("Are you sure you want to delete this coctail?") ) {  
      $.ajax({
        url: "/delete-user",
        type: "DELETE",
        data: { name: name },

        success: function (result) {
          alert("Coctail has been successfully deleted!");
          window.location.reload(true);
        },
        error: function (error) {
          // Handle error
        },
      });
      return false;
    }
  }

  function modifyUser(id) {
    if( confirm("Are you sure you want to modify this coctail?") ) {  
      $.ajax({
        url: "/modify-user",
        type: "PUT",
        data: { id: id },
        success: function (result) {
          //alert("Coctail has been successfully modified!");
        },
        error: function (error) {
          // Handle error
        },
      });
    }
  }

  const count = document.querySelector(".count");
  count.addEventListener("change", (e) => {
    document.querySelector(".ingredients").innerHTML = "";

    for (let i = 0; i < e.target.value; i++) {
      document.querySelector(".ingredients").innerHTML += `
        <div class="form-group">
          <label for="ingredient${i}">Ingredient ${i + 1}: </label>
          <input name="ingredient${i}" type="text" title="4 to 50 characters, letters only" class="count" placeholder="Ingredient" pattern="[a-zA-Z\s_-]{4,50}" required>
          <label for="measure${i}">Measure: </label>
          <input name="measure${i}" type="text" class="count" placeholder="Measure" title="Use format: 1/2, 3/4" pattern="[1-9/]{3,5}" required>
        </div>
      `;
    }
  });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
