{% extends "layouts/base.html" %}

{% block title %} User Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <style>
    .card {
      width: 150%;
    }
    .card .card-footer{
      
      padding: 0;
    }
   .table{
    width: 150%;
   }
  </style>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Add Sommelier</h5>
          </div>
          <div class="card-body">
            <form method="post">
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label for="name">Pseodonim</label>
                    <input name="name" type="text" class="form-control" placeholder="Pseodonim">
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label for="coctail">Choose a coctail:</label>
                    <select id="coctail" name="coctail">
                      {% for coctail in coctails %}
                        <option value="{{coctail[0]}}">{{coctail[0]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="recencja">Recencja</label>
                    <textarea name="recencja" rows="4" cols="80" class="form-control" placeholder="Here can be your Review"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label for="ocena">Ocena</label>
                  <input name="ocena" type="text" class="form-control" placeholder="Grade">
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Add Sommelier</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table">
          <tr>
            <th>Koktajl</th>
            <th>Pseodonim</th>
            <th>Recencja</th>
            <th>Ocena</th>
            <th></th>
            <th></th>
          </tr>
    
          <!-- here is a for-loop to give us all the socks -->
          {%for i in range(0, len)%} 
          <tr>
            <td>{{coctails_som[i][1]}}</td>
            <td>{{users[i][0]}}</td>
            <td>{{users[i][1]}}</td>
            <td>{{users[i][2]}}</td>
            <td><button class="btn btn-primary" onclick="deleteSommelier('{{users[i][0]}}')">Delete</button></td>
            <td><button class="btn btn-primary" onclick="demo.showNotification('top','center')">Modify</button></td>
          </tr>
          {%endfor%} 
        </table>
      </div>
    </div>
  </div>

  
<script>
  function deleteSommelier(name) {
    $.ajax({
      url: '/delete-sommelier',
      type: 'DELETE',
      data: {name: name},
      
      success: function(result) {
        window.location.reload(true);
        console.log(data)
      },
      error: function(error) {
        // Handle error
      }
    }); 
    return false;
  }

  function modifyUser(id) {
    $.ajax({
      url: '/modify-user',
      type: 'PUT',
      data: {id: id},
      success: function(result) {
        // Handle successful modification
      },
      error: function(error) {
        // Handle error
      }
    });
  }
</script>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
